<div class="keyboard-help">
  <button
    type="button"
    class="keyboard-help-trigger"
    [class.active]="isOpen || hintsVisible"
    [attr.aria-expanded]="isOpen"
    [attr.aria-label]="title"
    (click)="toggle($event)"
  >
    <img src="assets/images/info.png" alt="" aria-hidden="true">
  </button>

  <div *ngIf="isOpen" class="keyboard-help-panel" (click)="onPanelClick($event)">
    <div class="keyboard-help-title">{{ title }}</div>
    <div class="keyboard-help-list">
      <div *ngFor="let shortcut of shortcuts" class="keyboard-help-row">
        <kbd>{{ shortcut.key }}</kbd>
        <span>{{ shortcut.action }}</span>
      </div>
    </div>
  </div>
</div>
